/* declaración de variables */
:root {
  --color-background: brown;
  --color-background: #01032F;
  --color-primary: linear-gradient(90deg,
      rgba(8, 6, 10, 1) 0%,
      rgba(12, 12, 12, 1) 26%,
      rgba(24, 96, 111, 1) 100%);
  --color-secondary: hsl(0, 0%, 31%);
  --title-color: hsl(0, 10%, 92%);
  --text-color: hsl(0, 6%, 84%);
  --shadow: 1px 1px 10px rgba(61, 111, 185, 0.89);


  --color-success: hsl(151, 69%, 26%);
  --color-danger: hsl(348, 83%, 47%);
  --color-warning: hsl(42, 100%, 50%);
}

/* estilos globales */
* {
  padding: 0px;
  margin: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
